In [14]:
import pandas as pd

In [48]:
## To read a csv file
df = pd.read_csv('data.csv')

In [49]:
df1 = df.head(5)
df1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Date,Website
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,NaN,http://www.stephenson.com/
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021,http://www.hobbs.com/
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,NULL,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020,http://www.lawrence.com/
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020,http://www.good-lyons.com/
4,5.0,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021,https://goodwin-ingram.com/

In [50]:
#checking missing value
df1.isnull()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Date,Website
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
##filling the missing values with the mean of the column
df['Date_fillNA'] = df1['Date'].fillna(df1['Date'].mean())
df.head(5) ## filhal it is in date time format that is why it is giiving a error

In [44]:
df.dtypes

Index           int64
Customer Id    object
First Name     object
Last Name      object
Company        object
City           object
Country        object
Phone 1        object
Phone 2        object
Email          object
Date           object
Website        object
dtype: object

In [52]:
##Renaming columns:
df2 = df1.rename(columns={'Date': 'Dates'})
df2

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Dates,Website,Index_fillNA
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,NaN,http://www.stephenson.com/,1.0
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021,http://www.hobbs.com/,2.0
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,NULL,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020,http://www.lawrence.com/,3.0
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020,http://www.good-lyons.com/,4.0
4,5.0,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021,https://goodwin-ingram.com/,5.0

In [67]:
## change datatypes:
df['Index_new'] = df['Index'].fillna(3.0).astype(float)
df.head(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Date,Website,Index_new
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,NaN,http://www.stephenson.com/,1.0
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021,http://www.hobbs.com/,2.0
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,NULL,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020,http://www.lawrence.com/,3.0
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020,http://www.good-lyons.com/,4.0
4,5.0,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021,https://goodwin-ingram.com/,5.0