In [14]:
import pandas as pd

In [48]:
## To read a csv file
df = pd.read_csv('data.csv')

In [49]:
df1 = df.head(5)
df1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Date,Website
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,NaN,http://www.stephenson.com/
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021,http://www.hobbs.com/
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,NULL,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020,http://www.lawrence.com/
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020,http://www.good-lyons.com/
4,5.0,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021,https://goodwin-ingram.com/

In [50]:
#checking missing value
df1.isnull()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Date,Website
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
##filling the missing values with the mean of the column
df['Date_fillNA'] = df1['Date'].fillna(df1['Date'].mean())
df.head(5) ## filhal it is in date time format that is why it is giiving a error

In [44]:
df.dtypes

Index           int64
Customer Id    object
First Name     object
Last Name      object
Company        object
City           object
Country        object
Phone 1        object
Phone 2        object
Email          object
Date           object
Website        object
dtype: object

In [52]:
##Renaming columns:
df2 = df1.rename(columns={'Date': 'Dates'})
df2

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Dates,Website,Index_fillNA
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,NaN,http://www.stephenson.com/,1.0
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021,http://www.hobbs.com/,2.0
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,NULL,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020,http://www.lawrence.com/,3.0
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020,http://www.good-lyons.com/,4.0
4,5.0,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021,https://goodwin-ingram.com/,5.0

In [67]:
## change datatypes:
df['Index_new'] = df['Index'].fillna(3.0).astype(float)
df.head(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Date,Website,Index_new
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,NaN,http://www.stephenson.com/,1.0
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021,http://www.hobbs.com/,2.0
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,NULL,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020,http://www.lawrence.com/,3.0
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020,http://www.good-lyons.com/,4.0
4,5.0,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021,https://goodwin-ingram.com/,5.0

In [72]:
df2 = pd.read_csv('products-100.csv')
df2.head(5)

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265.0,USD,774,2091465262179,ForestGreen,Large,pre_order,56
1,2,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502.0,USD,81,5286196620740,Black,8x10 in,in_stock,29
2,3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,NaN,USD,726,1282898648918,SlateGray,XS,in_stock,70
3,4,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121.0,USD,896,3879177514583,PaleGreen,L,discontinued,31
4,5,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1.0,USD,925,9055773261265,SeaShell,100x200 mm,discontinued,10

In [74]:
df2['Price_fillNA'] = df2['Price'].fillna(df2['Price'].mean())
df2.head(5)

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID,Price_fillNA
0,1,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265.0,USD,774,2091465262179,ForestGreen,Large,pre_order,56,265.000000
1,2,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502.0,USD,81,5286196620740,Black,8x10 in,in_stock,29,502.000000
2,3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,NaN,USD,726,1282898648918,SlateGray,XS,in_stock,70,453.454545
3,4,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121.0,USD,896,3879177514583,PaleGreen,L,discontinued,31,121.000000
4,5,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1.0,USD,925,9055773261265,SeaShell,100x200 mm,discontinued,10,1.000000

In [76]:
##Data Aggregating And Grouping
df2.head()

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID,Price_fillNA
0,1,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265.0,USD,774,2091465262179,ForestGreen,Large,pre_order,56,265.000000
1,2,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502.0,USD,81,5286196620740,Black,8x10 in,in_stock,29,502.000000
2,3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,NaN,USD,726,1282898648918,SlateGray,XS,in_stock,70,453.454545
3,4,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121.0,USD,896,3879177514583,PaleGreen,L,discontinued,31,121.000000
4,5,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1.0,USD,925,9055773261265,SeaShell,100x200 mm,discontinued,10,1.000000

In [ ]:
grouped_mean= df2.groupby('---')['Price'].mean() ## by this if there is same things many time in a column then it will group them and lovely it can also sum or do things like taking mean of price

In [ ]:
#ex:
grouped_mean = df2.groupby('Currency')['Price'].mean()
print(grouped_mean)

Currency
USD    453.454545
Name: Price, dtype: float64

In [83]:
#ex2:
grouped_sum = df2.groupby('Currency')['Price'].sum()
print(grouped_sum)

Currency
USD    44892.0
Name: Price, dtype: float64

In [92]:
## Merging and joining dataframes
#Create sample dataframes
df1 = pd.DataFrame({'Key':['A', 'B', 'C'], 'Value1': [1,2,3]})
df2 = pd.DataFrame({'Key':['A', 'B', 'D'], 'Value2': [4,5,6]})

In [93]:
df1

  Key  Value1
0   A       1
1   B       2
2   C       3

In [94]:
df2

  Key  Value2
0   A       4
1   B       5
2   D       6

In [95]:
## Merge the dataframe on the key columns
pd.merge(df1, df2, on='Key', how="inner")

  Key  Value1  Value2
0   A       1       4
1   B       2       5

In [96]:
pd.merge(df1, df2, on='Key', how="outer")

  Key  Value1  Value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [ ]:
pd.merge(df1, df2, on='Key', how="left") ##val1 will be prioritise

  Key  Value1  Value2
0   A       1     4.0
1   B       2     5.0
2   C       3     NaN

In [ ]:
pd.merge(df1, df2, on='Key', how="right") ##right side is prioritise

  Key  Value1  Value2
0   A     1.0       4
1   B     2.0       5
2   D     NaN       6